body {
  background-color: #E5ECF0;
}

.container {

  width: 890px;
}

li {
  list-style: none;
}

.gloval_menu li{
  float: left;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  margin-top:17px;
  padding: 0;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

.content {
  width: 500px;
  margin: 0 auto;
  background-color: #ffff00
}

.content li{
  margin-left: 20px;
}
